  section {
    margin-top: 5%;

  
    h2.texto {
      height: 300px;
      width: 900px;

      @media only screen and (max-width: 1024px) {
        width: 700px;
      }
    }

    .texto {
      color: white;
      font-weight: 700;
      align-items: center;
      background-color: rgba(245, 245, 245, 0.464);
      flex-wrap: wrap;
      align-content: stretch;
      display: flex;
      flex-direction: row;
      justify-content: center;
      word-break: break-all;
      padding-right: 50px;
      padding-left: 50px;
      border: #c00000 5px solid;
      width: auto;

   
    }


  }
}
